.card {
  width: 300px;
  background-color: #f9f9f9;
  padding: 16px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.imageWrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
  background-color: #fff;
}

.image {
  object-fit: contain;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.name {
  font-size: 14px;
  font-weight: 500;
  color: #222;
}

.sizes {
  display: flex;
  gap: 8px;
  font-size: 14px;
}

.size {
  color: #111;
}

.sizeOut {
  color: red;
  text-decoration: line-through;
}

.outOfStock {
  font-size: 14px;
  color: red;
  font-weight: 500;
}
